################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# obj 폴더 제외
obj/
# 빌드 결과물 제외
bin/
.vs/
*.user
*.suo
*.cache
